<%= render 'layouts/header'%>

  <body>
    <%= form_with model: @user, url: "/users" do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control'  %>

      <%= f.label :email %> 
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </body>


